<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="deplink.com.smartwirelessrelay.homegenius.EllESDK">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.hardware.sensor.accelerometer" />
    <uses-permission android:name="getui.permission.GetuiService.vstc.vscam.smart.client" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="deplink.com.smartwirelessrelay.homegenius.application.AppDelegate"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.homepage.SmartHomeMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.smartlock.lockhistory.LockHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.DevicesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.room.RoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.personal.PersonalCenterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.smartlock.SmartLockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.smartlock.UpdateSmartLockUserIdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.smartlock.SetLockPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.AddDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.room.AddRommActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.personal.SmartGetwayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.room.ManageRoomActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.room.ModifyRoomNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.room.DeviceNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.smartlock.alarmhistory.AlarmHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.AddDeviceQRcodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.qrcode.qrcodecapture.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.AddDeviceNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.getway.GetwayCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.personal.wifi.ScanWifiListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.smartlock.EditSmartLockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.homepage.HomePageSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.getway.GetwayDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.getway.AddGetwaySettingOptionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.remoteControl.RemoteControlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.remoteControl.airContorl.add.ChooseBandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.remoteControl.airContorl.add.addRemoteControlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.personal.experienceCenter.ExperienceDevicesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.getway.AddGetwayNotifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.getway.QueryGetwaysActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.personal.usrinfo.UserinfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.personal.usrinfo.UpdateNicknameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.RouterMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.AddRouterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.RouterSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.RouterNameUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.ConnectSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.wifi.WiFiSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.LanSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.qos.QosSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.UpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.remoteControl.airContorl.AirRemoteControlMianActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.remoteControl.tv.AddTvDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.remoteControl.tv.TvMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.remoteControl.topBox.AddTopBoxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.remoteControl.topBox.IptvMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.smartSwitch.SelectSwitchTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.personal.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.personal.login.RegistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.personal.login.ForgetPasswordActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.deplink.sdk.android.sdk.mqtt.service.MqttService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.connectType.DialConnectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.connectType.DynamicsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.connectType.StaticConnectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.connectType.WirelessRelayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.wifi.WifiSetting24"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.wifi.WifiSettingCustom"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.wifi.SignalStrengthSetting"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.wifi.EncryptTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.wifi.ModeSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.wifi.ChannelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.wifi.BandwidthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.wifi.AlertWifiPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.wifi.WifinameSetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.lan.LanSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.firmwareupdate.FirmwareUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.firmwareupdate.UpdateImmediatelyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.router.firmwareupdate.UpdateStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.doorbell.add.AddDoorbellTipsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.doorbell.add.WifipasswordInputActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.doorbell.add.ApModeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="deplink.com.smartwirelessrelay.homegenius.activity.device.doorbell.DoorbeelMainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>